<div class="navbar">
    <a class="home" href="/landingpage">home</a>
    <div class="homeless">
        <div class="hamburger"><p>Menu</p></div>
        <div class="homelesscontent">
            <a href=#dklsdkj>link 1</a>
            <a href=#dklsdkj>link 2</a>
            <a href=#dklsdkj>link 3</a>
            <a href=#dklsdkj>link 4</a>
        </div>
    </div>
</div>