<div class="navbar">
    <div class="navbar_left">
        <a class="home" href="/">home</a>
        <a id="navlink_projects" href="/projectspage">Projects</a>
        <a id="navlink_tutorials" href="/under_construction">Tutorials</a>
        <a id="navlink_questions" href="/under_construction">Vragen</a>
        <a id="navlink_contact" href="/under_construction">Contact</a>
    </div> 
    <div class="homelessbox">
        <div class="reg_log_links">
                <a id="newbutton" href="/login">Login</a>
            <a id="signupbutton" href="/register">Aanmelden</a>
        </div>
    </div>    
</div>