<div class="navbar">
    <a class="home" href="/">home</a>
    <div class="homelessbox">
        <div class="reg_log_links">
                <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
        <div class="homeless">
            <div class="hamburger"><p>Menu</p></div>
            <div class="homelesscontent">
                <a href=#dklsdkj>link 1</a>
                <a href=#dklsdkj>link 2</a>
                <a href=#dklsdkj>link 3</a>
                <a href=#dklsdkj>link 4323423423</a>
            </div>
        </div>
    </div>    
</div>