<div class="container_projectblock game_icon">
    <a class="link_cover_projectblock" href=<%= "../fullproject/" + project.id %>></a>
    <div class="theme_projectblock">
        <h1><%=project.prImage%></h1>
    </div>
    <div class="title_projectblock">
        <h1><%= project.scrProjectName %></h1>
    </div>
    <div class="description_projectblock">
        <p><%=project.scrProjectDes%></p>
    </div>   
</div>