
<h1>Dit is de addform pagina</h1>

<form action="/add_projectb" target="_self" method="POST">
    <label for="fname">First name:</label>
     <input id="fname" name="name" type="text"><br>
    <label for="myage">Age:</label>
     <input id="myage" name="age" type="text"><br>
    <label for="pname">Project:</label>
     <input id="pname" name="prName" type="text"><br>
    <label for="myimage">Image beschrijving:</label>
     <input id="myimage" name="prImage" type="text"><br>
    <label for="mydesc">Project beschrijving:</label>
     <input id="mydesc" name="prDesc" type="text"><br>
    <label for="mycards">Project cards:</label>
     <input id="mycards" name="prCards" type="text"><br>
    <label for="mytheme">Project theme:</label>
     <input id="mytheme" name="prTheme" type="text"><br>
    <button>Dit is een button</button>
</form>