<h1>Dit is de addform pagina</h1>

<form action="/add_project" target="_self" method="POST">
    <label for="fname">First name:</label>
    <input id="fname" name="name" type="text"><br>
    <label for="myage">Last name:</label>
    <input id="myage" name="age" type="text"><br>
    <label for="pname">Project:</label>
    <input id="pname" name="project" type="text"><br>
    <label for="myimage">Project beschrijving:</label>
    <input id="myimage" name="image" type="text"><br>
    <button>Dit is een button</button>
</form>