<%- include("partials/header") %>
<div class="landing">
    <div>
        <h1>Roots Beijum</h1>
    </div>
    <div class="landingmenu">
        <h1>Menu</h1>
        <a class="buttonlink" href="/projectspage">Projecten</a>
        <a class="buttonlink" href="/register">Inschrijven</a>
        <a class="buttonlink" href="/login">Inloggen</a>
    </div>
   <!--  <div></div> !!!!!!! DO NOT REMOVE THIS EMPTY DIV !!!!!!! -->
</div>
<%- include("partials/footer") %>