<%- include("partials/header") %>
<%- include("partials/navbar") %>
<div class="form_loginstyle">
    <div class="formblock">
        <!--<h1>Welcome to the loginpage</h1> -->
        <form action="/login" method="POST">
            <h1>Welcome to the loginpage</h1>
            <input type="text" name="username" placeholder="username"><br>
            <input type="password" name="password" placeholder="password"><br>
            <button>login</button>
        </form>
    </div>
</div>

<%- include("partials/footer") %>