<%- include("partials/header") %>

<h1>Dit is de pagina waar alle projecten op te zien zijn</h1>

<ul>
<% for (i=0; i<projectlist.length; i++){
    %>
        <li><%= projectlist[i].name %></li>
    <%
    }
%>
</ul>
  


    <div id="projectscontainer" class="grid_a">
    <% for (i=0; i<projectlist.length; i++){
        %>
            <%- include("partials/projectblock", {project: projectlist[i], itemnr: i})%>  
        <%
        }
    %>
    </div>

<%- include("partials/footer") %>
