<%- include("partials/header") %>
<%- include("partials/navbar") %>


<div class="form_loginstyle">
    <div class="formblock">
        <form action="/register" method="POST">
            <h1>Welcome to the register page</h1>
            <input type="text" name="username"><br>
            <input type="password" name="password"><br>
            <button>register</button>
        </form>
    </div>    
</div>
<%- include("partials/footer") %>