*{
    margin:0;
}

.buttonlink{
    padding: 20px 10px;
    text-decoration: none;
    background-color: teal;
    display: inline-block;
}

.jumbo{
    height: 34vh;
    background-color:grey;
}

#projectscontainer{
    background-color:blue;
    padding: 10px;
}

.container_projectblock{
    background-color: plum;
}




.grid_a{
    display: grid;
    grid-template-columns: auto 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw auto;
    grid-auto-rows: 500px;
    grid-column-gap: 24px;
    grid-row-gap: 20px;
}



#projectscontainer .container_projectblock:nth-child(3n+1) {
    background-color: goldenrod;
    grid-column: 2/ span 4;
}
#projectscontainer .container_projectblock:nth-child(3n+2) {
    background-color: red;
    grid-column: 6/ span 4;
}
#projectscontainer .container_projectblock:nth-child(3n+3) {
    background-color: palegreen;
    grid-column: 10/ span 4; 
}

@media only screen and (max-width: 1250px){
    
    .grid_a{
        display: grid;
        grid-template-columns: auto 12vw 12vw 12vw 12vw 12vw 12vw auto;
        grid-auto-rows: 500px;
        grid-column-gap: 24px;
        grid-row-gap: 20px;
    }

    #projectscontainer .container_projectblock:nth-child(2n+1) {
        background-color: grey;
        grid-column: 2/ span 3;
    }
    #projectscontainer .container_projectblock:nth-child(2n+2) {
        background-color: grey;
        grid-column: 5/ span 3;
    }
}

@media only screen and (max-width: 730px){
    
    .grid_a{
        display: grid;
        grid-template-columns: auto 40vw 40vw auto;
        grid-auto-rows: 500px;
        grid-column-gap: 24px;
        grid-row-gap: 20px;
    }

    #projectscontainer .container_projectblock:nth-child(n+1) {
        background-color: turquoise;
        grid-column: 2/ span 2;
    }

}
