*{
    margin:0;
}

.buttonlink{
    padding: 20px 10px;
    text-decoration: none;
    background-color: teal;
    display: inline-block;
}


.jumbo{
    height: 34vh;
    background-color:grey;
}

#projectscontainer{
    background-color:blue;
    padding: 10px;
}

.container_projectblock{
    background-color: plum;
}




.grid_a{
    display: grid;
    grid-template-columns: auto 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw auto;
    grid-auto-rows: 500px;
    grid-column-gap: 24px;
    grid-row-gap: 20px;
}



#projectscontainer .container_projectblock:nth-child(3n+1) {
    background-color: goldenrod;
    grid-column: 2/ span 4;
}
#projectscontainer .container_projectblock:nth-child(3n+2) {
    background-color: red;
    grid-column: 6/ span 4;
}
#projectscontainer .container_projectblock:nth-child(3n+3) {
    background-color: palegreen;
    grid-column: 10/ span 4; 
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    width: 100vw;
    background-color: green;
    height: 40px;
}

.homelessbox{
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: right;
}

.reg_log_links{
    display:flex;
    margin-right: 2px;
}

.reg_log_links a{
    display: flex;
    position: relative;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 2px;
    align-self: stretch;
    text-align: center;
    align-items: center;
    background-color: teal;
}

.homeless{
    display: flex;
    flex-direction: column;
    position:relative;
    margin-right: 50px;
    overflow: visible;
    background-color: transparent;

}

.homeless a{
    display: block;
    padding: 20px 10px;
}

 .hamburger{
    position: relative;
    display: flex;
    padding:0;
    margin:0;
    flex-direction: column;
    height: 40px;
    width: 80px;
    justify-content: center;
    background-color:blue;
}

.home{
    display: flex;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    height: 40px;
    text-align: center;
    align-items: center;
    background-color: teal;

}

.homelesscontent{
    position: relative;
    display: block;
    background-color: transparent;
    /*flex-direction: column; */
}

.hamburger p{
    text-align: center;
    justify-self: center;
    margin: 0px;
    padding: 0px;
}

.homelesscontent a{
    list-style-type: none;
    position:absolute;
    display: none;

}

.homeless:hover .homelesscontent{
    position: absolute;
    top: 40px;
    right: 0px;
    overflow: visible;
}


.homeless:hover .homelesscontent a{
    position: relative;
    display:block;
    background-color: red;
}

.left_right_devider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------ Full project page layout classes -------------*/

.fullprojectpage{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
}

.fullproject{
    width: 70vw;
    background-color: grey;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.titleblock{
    height: 80px;
    background-color: blue;
    width: 100%;
}

.imagecontainer{
    height: 60vw;
    width: 100%;
    background-color: purple;
}

.projectinfo{
    width: 100%;
    background-color: cadetblue;

}

.commentblocktitle{
    background-color:orangered;
    padding: 8px;
}

.commentblock a{
    display: inline-block;
    padding: 10px 15px;
    background-color: green;
    text-decoration: none;
    
}

.comment_single{
    padding: 8px;
    border-bottom: 1px dotted black;
}

.projectinfo ul{
    margin-top: 5px;
}

.projectinfo li{
    list-style: none;
}

/*===================================================================*/

/*------------------ Layout of login/register(/creation) forms ---------------------*/
/* !!!!!!!!!!!!!!!!!!!--- Only use for fullpage (because of workaround)---!!!!!!!!!!!!!!!!!!!!!! */

.form_loginstyle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e5e5e5;
    height: 100vh;
    margin-top: -40px;
    
}

.form_loginstyle .formblock{
    display: flex;
    margin-top: 40px;
    width: 70vw;
    background-color: #d6d6d6;
    height:70%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
}


.form_loginstyle form{
    padding: 20px;
    background-color: transparent;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height:auto;
}

.form_loginstyle input{
    margin: 4px;
    width: 300px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid black;
}

.form_loginstyle h1{
    margin-bottom: 20px;
}

.form_loginstyle button{
    padding: 20px 15px;
    background-color: rgb(0, 0, 255);
    width: 300px;
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.24);
    border-color: rgb(86, 111, 136);
}

.form_loginstyle button:hover{
    box-shadow: 0 15px 16px 0 rgba(0,0,0,0.35),0 6px 20px 0 rgba(0,0,0,0.24);
    background-color: rgb(10, 68, 255);
    transition: box-shadow 0.3s, background-color 0.3s;

}
/*!!!!!!!!!!!!!!!!--- See above ---!!!!!!!!!!!!!*/
/*====================================================================*/

/*====================================================================*/
/* --- Layout test landingpage --- */
/*====================================================================*/
.landingbackground{
    background-image: url("/landinggradient_v2.svg");
    background-size: 100vw;
}

.landing{
    display: flex;
    flex-direction: column;
    
    background-image: url("/landingpage_v6.svg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
}

.landing h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 5vw;
    margin-top: 6.5vh;
}

.landingmenu h1{
    margin-top: 0;
    color: rebeccapurple;
    margin-bottom: 10px;
}

.landingblock{
    display: none;
    flex-direction: column;
    width: 60vw;
    background-color: rgba(252, 1, 231, 0.87);
    height:60%;
    align-content: center;
    text-align: center;
    justify-content: center;
    border-radius: 12px;
}

.landing .buttonlink{
    display: block;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
    color:black;
    background-color: transparent;
    font-size: 4.5vw;
    align-self: center;
}

.landing .buttonlink:hover{
    text-decoration: underline;
}

.landingmenu{
    margin-bottom: 6vh;
}

/*====================================================================*/
@media only screen and (max-width: 180vh){
    .landingmenu{
    margin-bottom: 10vh;
    }
    .landing h1{
        margin-top: 12vh;
    }

}

@media only screen and (max-height: 60vw){
    .landing h1{
        font-size: 8.5vh;
    }

    .landing .buttonlink{
        font-size: 8.5vh;
    }
}

@media only screen and (max-width: 1250px){
    
    .grid_a{
        display: grid;
        grid-template-columns: auto 12vw 12vw 12vw 12vw 12vw 12vw auto;
        grid-auto-rows: 500px;
        grid-column-gap: 24px;
        grid-row-gap: 20px;
    }

    #projectscontainer .container_projectblock:nth-child(2n+1) {
        background-color: grey;
        grid-column: 2/ span 3;
    }
    #projectscontainer .container_projectblock:nth-child(2n+2) {
        background-color: grey;
        grid-column: 5/ span 3;
    }


}



@media only screen and (max-width: 730px){
    
    .grid_a{
        display: grid;
        grid-template-columns: auto 40vw 40vw auto;
        grid-auto-rows: 500px;
        grid-column-gap: 24px;
        grid-row-gap: 20px;
    }

    #projectscontainer .container_projectblock:nth-child(n+1) {
        background-color: turquoise;
        grid-column: 2/ span 2;
    }

}
