*{
    margin:0;
}

/*===========================================================================
Temporary
===========================================================================*/

    .buttonlink{
        padding: 20px 10px;
        text-decoration: none;
        background-color: teal;
        display: inline-block;
    }



/*===========================================================================
Jumbotron
===========================================================================*/

    .jumbo{
        display: flex;
        height: 500px;
        background-color: rgb(71, 50, 63);
        background-color: palegreen;
        background-color: rgba(186, 251, 47, 0.76);
        background-color: rgba(9, 148, 125, 0.8); /* v1 */
        
        background-image: url(/undraw_science_fqhl.svg);
        background-position: 80% 50%;
        background-size: 30%;
        background-repeat: no-repeat;
        

        /*
        background-image: url("jumbo_afbeelding.svg");
        background-position-x: 56vw;
        background-position-y: 70px;
        background-size: auto 600px;
        background-repeat: no-repeat; */
    }

    .jumbo h1{
        font-family: 'Short Stack', cursive;
        font-weight: 600;
    }

    .jumbo_info{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        justify-content: space-between;
        height: 70%;
        width: 500px;
        border-radius: 15px;
        margin-left: 80px;
        background-color: rgb(240, 94, 184);
        background-color: #cf0653;
        box-shadow: 0 15px 16px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.12);
    }

    .jumbo_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 26px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 30px;
    }

    .jumbo_text p{
        margin-top: 20px;
        font-family: 'Short Stack', cursive;
        font-weight: 250;
        font-size: 20px;
    }

    .jumbo_info h1{
        
        align-self: center;
        font-size: 50px;
    }

    .jumbo_info button{
        margin-bottom: 65px;
        padding: 0;

        width: 320px;
        height: 70px;
        justify-self: end;
        align-self: center;
        border: 2px outset black;
        border-radius: 5px;
        background-color: rgb(86, 53, 235);
        background-color: rgba(49, 46, 231, 1);
        color: white;
        text-align: center;
        justify-content: center;
        font-size: 40px;
        font-weight: bold;
        background-color: rgb(253, 170, 1);
        color: rgb(51,51,51);

        font-size: 30px;
        font-family: "Short Stack";
        font-weight: 700;
    }

    .jumbo_info a{
        
        margin-bottom: 65px;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 70px;
        justify-self: end;
        align-self: center;
        border: 2px outset black;
        border-radius: 5px;
        background-color: rgb(86, 53, 235);
        background-color: rgba(49, 46, 231, 1);
        color: white;
        text-align: center;
        justify-content: center;
        font-size: 40px;
        font-weight: bold;
        font-size: 30px;

        font-family: "Short Stack";
        font-weight: 700;
    
    }

/*===========================================================================
Projectpage General
===========================================================================*/

    #projectscontainer{
        background-color:rgb(58, 147, 231);
        background-color: rgb(255, 239, 95);
        background-color: rgb(255, 95, 95);
        background-color: rgb(104, 174, 248);
        padding: 10px;
        padding-top: 20px;
        background-image: url("/achtergrondpatroon_v2.svg");
        background-position: center;
        
        
    }

    #projectscontainer h1{
        font-family: 'Short Stack', cursive;
        font-weight: 990;
    }

    .grid_a{
        display: grid;
        grid-template-columns: auto 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw auto;
        grid-template-rows: 250px;
        grid-auto-rows: 350px;
        grid-column-gap: 15px;
        grid-row-gap: 20px;
    }

    .project_theme_title{
        grid-column: 2/ span 12;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-size: 50px;
        font-weight: bolder;
    }

    #projectscontainer .container_projectblock:nth-child(3n+3) {
        /*background-color: goldenrod;*/
        grid-column: 5/ span 3;
    }
    #projectscontainer .container_projectblock:nth-child(3n+4) {
        /*background-color: red;*/
        grid-column: 8/ span 3;
    }
    #projectscontainer .container_projectblock:nth-child(3n+5) {
        /*background-color: palegreen; */
        grid-column: 11/ span 3; 
    }

/*===========================================================================
Projectpage Projectblock styling
===========================================================================*/

    .container_projectblock{
        display: grid;
        background-color: #eaeaea;
        grid-template-rows: 62% 13% 25%;
        position: relative;
        align-items: stretch;
        justify-content: stretch;
        border: 0px outset rgb(42, 41, 41);
        border-radius: 5%;
        box-shadow: 0 15px 16px 0 rgba(0,0,0,0.35),0 6px 20px 0 rgba(0,0,0,0.24);
        background-image:url(/vragen_icon.svg);
        background-position: 50% 20%;
        background-repeat: no-repeat;
        background-size: 50%;
    }
    .container_projectblock:hover{
        box-shadow: 0 20px 16px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.24);
        background-color: #e5e5e5;
        transition: box-shadow 0.3s, background-color 0.3s;
    }

    .container_projectblock:hover .project_theme_title{
        background-color: #d40b58;
        transition: background-color 0.3s;
    }

.container_projectblock:hover .projectinfo{
        background-color: rgb(14, 153, 130);
        transition: background-color 0.3s;
    }

.link_description{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

    .movie_icon{
        background-image:url(/movie-player-clapperboard-svgrepo-com.svg);
        background-size: 70%;
    }

    .game_icon{
        background-image:url(/game-controller-svgrepo-com.svg);
        background-size: 50%;
    }

    .handcraft_icon{
        background-image:url(/paint-palette-artist-svgrepo-com.svg);
        background-size: 60%;
    }

    .science_experiment_icon{
        background-image:url(/microscope-svgrepo-com.svg);
        background-size: 60%;
    }

    .programming_icon{
        background-image:url(/imagen-play-for-scratch-learn-to-code-with-scratch-0thumb.jpg);
        background-size: 60%;
    }

    .title_projectblock{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgb(236, 89, 89);
        background-color: rgb(240, 94, 184);
        background-color: #cf0653;
        color: rgb(228, 213, 228);
        color: #0F141B;
        grid-row: 2;
    }

    .title_projectblock h1{
        font-size: 30px;
        margin-top: 8px;
        align-self: stretch;
        justify-content: center;
        text-align: center;
        text-justify: center;
        justify-self: center;
        font-size: 25px;
    }

    .info_projectblock{
        display: none;
    }

    .link_cover_projectblock{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .project_theme_links{
        grid-column: 2/ span 3;
        grid-row: 2/span 2;
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: rgba(49, 46, 231, 0.404);
        padding: 20px;
        border-radius: 15px;
    }

    .description_projectblock{
        grid-row: 3;
        background-color: rgb(122, 204, 122);
        background-color: #aef868;
        background-color: rgba(186, 251, 47, 0.76);
        background-color: rgb(9, 148, 125);
        
        color: #eac8d8;
        border-bottom-left-radius: 15px; 
        border-bottom-right-radius: 15px; 
    }

    .description_projectblock p{
        margin: 10px 20px;
        max-height: 70%;
        overflow: hidden;
    }

    
/*===========================================================================
Projectspage Theme navigation
===========================================================================*/

    .project_theme_links a{
        display: block;
        text-decoration: none;
        color: rgb(182, 253, 16);
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-weight: 300;
        font-family: "Short Stack";

    }

    .project_theme_links a:hover{
        text-decoration: underline;
    }

    .project_theme_links li{
        text-decoration: none;
        list-style: none;
        margin-top: 6px;
    }

    .project_theme_links ul{
        margin-top: 20px;
        padding: 0;
        margin-left: 0;
        
    }

    .project_theme_links h1{
        color: rgb(182, 253, 16);
       
        font-size: 40px;
        font-weight: bolder;
    }    


/*===========================================================================
Navbar styling (still has remnants of old styling)
===========================================================================*/

    .navbar{
        display: flex;
        justify-content: space-between;
        position: sticky;
        top:0;
        width: 100vw;
        background-color: rgb(124, 5, 124);
        height: 80px;
        z-index: 500;
    }

    .navbar_left{
        display: flex;
        margin-left: 40px;
        height: 100%;   
    }

    .navbar_left a{
        background-color: transparent;
        display: inline-block;
        height: 30px;
        width: 90px;
        margin-left: 10px;
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: 50% 15%;
        padding-top: 50px;
        font-size: 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-align: center;

    }

    .navbar_left a:hover{
        text-decoration: underline;
    }

    #navlink_projects{
        background-image: url(/play-button-variant-inside-a-square-svgrepo-com.svg);
        background-size: 35px 35px;
        background-position: 50% 20%;
    }

    #navlink_tutorials{
        background-image: url(/lightbulb.svg);
    }

    #navlink_questions{
        background-image: url(/vragen_icon.svg);
        background-image: url(/vraagteken_v2.svg);
        background-size: 35px 35px;
        background-position: 50% 20%;
    }

    #navlink_contact{
        background-image: url(/contact_icon.svg);
        background-image: url(/contact_v2.svg);
        background-size: 35px 35px;
        background-position: 50% 22%;
    }



    #newbutton{
        background-color: transparent;
        display: inline-block;
        height: 30px;
        width: 70px;
        background-image: url(key_v3.svg);
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: 50% 15%;
        padding-top: 50px;
        font-size: 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }



    #signupbutton{
        background-color: transparent;
        display: inline-block;
        height: 30px;
        width: 90px;
        background-image: url(/padlock.svg);
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: 50% 15%;
        padding-top: 50px;
        font-size: 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    #signupbutton:hover{
        background-image: url(/add_profile_button_v2.svg);

    }

    .homelessbox{
        position:relative;
        display:flex;
        flex-direction: row;
        justify-content: right;
        margin-right: 100px;
    }

    .reg_log_links{
        display:flex;
        margin-right: 2px;
    }

    .reg_log_links a{
        display: flex;
        position: relative;
        margin-right: 10px;
        align-self: stretch;
        text-align: center;
        align-items: center;
        background-color: transparent;
    }

    .home{
        display: flex;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 50px;
        margin-right: 40px;
        height: 40px;
        text-align: center;
        background-color: transparent;
        height: 30px;
        background-image: url(/Home_icon.svg);
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: 50% 15%;
        padding-top: 50px;
        font-size: 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

/*===========================================================================
Navbar styling Dropdown Menu (only test currently not used)
===========================================================================*/

    .homeless{
        /* display: flex; */
        display: none;
        flex-direction: column;
        position:relative;
        margin-right: 50px;
        overflow: visible;
        background-color: transparent;

    }

    .homeless a{
        display: block;
        padding: 20px 10px;
    }

    .hamburger{
        position: relative;
        display: flex;
        padding:0;
        margin:0;
        flex-direction: column;
        height: 40px;
        width: 80px;
        justify-content: center;
        background-color:blue;
    }



    .homelesscontent{
        position: relative;
        display: block;
        background-color: transparent;
        /*flex-direction: column; */
    }

    .hamburger p{
        text-align: center;
        justify-self: center;
        margin: 0px;
        padding: 0px;
    }

    .homelesscontent a{
        list-style-type: none;
        position:absolute;
        display: none;

    }

    .homeless:hover .homelesscontent{
        position: absolute;
        top: 40px;
        right: 0px;
        overflow: visible;
    }


    .homeless:hover .homelesscontent a{
        position: relative;
        display:block;
        background-color: red;
    }

    .left_right_devider{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/*===========================================================================
Full project page layout General
===========================================================================*/

    /* ------------ Full project page layout classes -------------*/

    .fullprojectpage{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: #eaeaea;
        font-family: "Short Stack";
    }

    .grid_b{
        display: grid;
        grid-template-columns: auto 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw auto;
        grid-template-rows: 200px 400px 200px;
        grid-auto-rows: auto;
        grid-column-gap: 35px;
    }

    .fullproject{
        width: 100vw;
        background-color: rgb(9, 148, 125);
        background-color: rgb(104, 174, 248);
        background-color: rgb(141, 208, 236);
        border-left: 1px solid black;
        border-right: 1px solid black;
        background-image: url("/achtergrondpatroon_v2.svg");
        background-position: center;
        background-image: linear-gradient(rgb(191, 251, 255) , rgb(191, 251, 255) 500px,rgb(0, 219, 151) 500px);
    }

    .titleblock{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row: 1;
        grid-column: 2/ span 12;
        height: 200px;
        background-color: transparent;
        width: 100%;
        text-align: center;
    }

    .titleblock h1{
       
        font-size: 90px;
        font-weight: 990;
        
    }

    /*.titleblock a,button{
        width: 50px;
        height: 50px;
        background-color: rgb(245, 163, 31);
        font-size: 20px;

    }*/

    .edit_container{
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right:10px;
        top:10px;
        width: 80px;
        height: 40px;
        background-color: rgba(0, 128, 0, 0);
    }

    .edit_container button{
        width: 38px;
        height: 38px;
        margin: 1px;
    }


    .imagecontainer{
        grid-row: 2;
        grid-column: 2/ span 8;
        background-color: rgb(9, 148, 125);
        background-color: rgb(110, 157, 219);
        background-color: rgb(7, 160, 121);
        background-color: rgb(92, 144, 255);
        background-color: rgb(103, 191, 230);
        background-repeat: no-repeat;
        background-position: center;
        /*border: 1px solid grey;*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .imagecontainer img{
        size: 100vw;
        position: center;
        overflow: hidden;
    }

    .projectinfo{
        display: flex;
        position: relative;
        flex-direction: column;
        grid-column: 2/ span 8;
        grid-row: 3;
        background-color: rgb(236, 252, 253);
        align-items: center;
        /*border: 1px solid grey;
        border-top: 0; */
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }

    .projectinfo h1{
        font-size: 40px;
        align-self: center;
        
    }
    
    .projectinfo h3{
        font-size: 18px;
        margin-top: 20px;
        font-weight: 300;
    }

    .projectinfo p{
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0 20px;
    }

    .userinfo{
        grid-row: 2;
        grid-column: 10/ span 4;
        background-color: rgb(236, 252, 253);
        display: grid;
        grid-template-columns: 10% auto 20% 160px 20% auto 10%;
        grid-template-rows: 50px 100px 60px 20px auto;
        justify-content: stretch;
        align-items: stretch;
        overflow: hidden;
        border-radius: 10px;
    }

    .userinfo_background{
        grid-row: 1/ span 2;
        grid-column: 1/ span 7;
        background-color: rgb(226, 214, 43);
        background-image: url(https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
        background-position: 50% 0%;
        background-size: 40vw; 
        overflow: hidden;
    }

    .userinfo_background img{
        position: 40% 10%;
        width: 50vw;

    }

    .avatar_user{
        grid-row: 2/ span 2;
        grid-column: 4;
        position: relative;
        border-radius: 50%;
        border: 0 solid rgb(211, 7, 7);
        background-color: rgb(108, 125, 141);
        overflow: hidden;
    }

    .avatar_user img{
        position: absolute;
        top: 20%;
        left: 20%;
        width: 60%;
        height: 60%;

    }

    .userinfo_info{
        grid-column: 3/ span 3;
        grid-row: 5;
        background-color: rgb(236, 252, 253);
        align-self: stretch;
        display: flex;
        flex-direction: column;
    }

    .userinfo_info h2{
        font-size: 30px;
        align-self: center;
    }

    .userinfo_info p{
        margin: 25px 20px;
    }

    .commentblock{
        grid-column: 2/ span 8;
        grid-row: auto;
        background-color: rgb(236, 252, 253);
        margin-top: 25px;
        border-radius: 10px;
        margin-bottom: 25px;
    }

    .main_text{
        grid-column: 2/ span 8;
        grid-row: 4/ span auto;
        display: flex;
        flex-direction: column;
        background-color: rgb(236, 252, 253);
        border-radius: 10px;
        margin-top: 25px;
        padding: 50px 20px;
    }

    .main_text p{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }

    .main_text h1{
        margin-top: 0px;
        font-size: 40px;
        align-self: center;
    }

    .grid_c{
        display: grid;
        grid-template-columns: 10px 70px 20px auto 180px 10px;
        grid-template-rows: 70px 5px auto;
        justify-content: stretch;
        align-items: stretch;
    }

    .author_avatar{
        grid-row: 1;
        grid-column: 2;
        background-color: burlywood;
    }

    .author_info{
        grid-row: 1;
        grid-column: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 0 20px 0;
    }

    .author_info h3{
        font-size: 20px;
        color: black;
    }
    .author_info p{
        font-size: 12px;
        color: grey;
    }

    .comment_edit_delete{
        grid-row: 1;
        grid-column: 5;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        
    }

    .comment_edit_delete a{
        margin-left: 2px;
        max-height: 30px;
    }

    .comment_content{
        grid-row: 3;
        grid-column: 4/ span 2;

    }

    .commentblocktitle{
        background-color:orangered;
        background-color: #cf0653;
        background-color:rgb(250, 85, 85);
        padding: 18px 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .commentblocktitle p{
        font-size: 30px;
        font-weight: bolder;
    }

    .commentblock a{
        display: inline-block;
        padding: 10px 15px;
        background-color: rgb(9, 148, 125);
        background-color: rgb(236, 130, 69);
        color: #eac8d8;
        text-decoration: none;
        
    }

    .commentblock button{
        display: inline-block;
        padding: 10px 15px;
        background-color: rgb(9, 148, 125);
        background-color: rgb(236, 130, 69);
        background-color: rgb(206, 174, 169);
        background-color: rgb(192, 196, 209, 0.3);
        color: #050505;
        text-decoration: none;
        font-weight: bold;
        
    } 

    .comment_single{
        padding: 8px;
        border-bottom: 1px dotted black;
    }

    .commentblock .comment_single:nth-last-child(1){
        border-bottom: 0px dotted transparent;
    }

    .projectinfo ul{
        margin-top: 5px;
    }

    .projectinfo li{
        list-style: none;
    }

/*===========================================================================
Login/Register forms (only fullpage)
===========================================================================*/

    /* !!!!!!!!!!!!!!!!!!!--- Only use for fullpage (because of workaround)---!!!!!!!!!!!!!!!!!!!!!! */

    .form_loginstyle{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #e0e0e5;
        height: 100vh;
        margin-top: -80px;  /* page becomes too big (>100vh) because of sticky navbar. Used a negative margin to simulate a fixed navbar.*/
        background-color: rgb(104, 174, 248);
        background-color: rgb(0, 219, 151);
        background-color: rgb(103, 191, 230);
        background-image: url("/achtergrondpatroon_v2.svg");
        background-image: linear-gradient(to right, rgb(103, 191, 230),rgb(0, 219, 151));
        
    }

    .form_loginstyle .formblock{
        display: flex;
        margin-top: 80px;
        width: 70vw;
        background-color: rgb(240, 243, 243);

        
        height:70%;        
        border-radius: 12px;
        box-shadow: 0 15px 16px 0 rgba(0,0,0,0.35),0 6px 20px 0 rgba(0,0,0,0.24);
    
    }

    .card_style_login{
        width: 40%;
        height: 100%;
        background-color: rgb(9, 148, 125);
        background-color: rgb(103, 191, 230);
        background-color:  rgb(245, 123, 93);
        background-color: rgb(78, 84, 85);
        background-color: rgb(0, 219, 151);
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        border-right: 20px solid rgb(94, 22, 234);
        background-image: url(/sleutel.svg);
        background-position: center;
        background-size: 70%;
        background-repeat: no-repeat;
    }

    .card_style_register{
        width: 40%;
        height: 100%;
        background-color: #cf0653;
        background-color: rgb(94, 22, 234);
        background-image: url(/sleutel_v2.svg);
        background-position: center;
        background-size: 70%;
        background-repeat: no-repeat;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        border-right: 20px solid rgb(0, 219, 151);
    }

    .form_loginstyle form{
        padding: 20px;
        background-color: transparent;
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height:auto;
        width: 60%;
    }

    .form_loginstyle input{
        margin: 4px;
        width: 300px;
        padding: 10px 15px;
        border-radius: 5px;
        border: 1px solid black;
        background-color:rgb(0, 219, 151);
        background-color: rgb(103, 191, 230);
        
        background-color: rgb(255, 215, 170);
        background-size: 170%;
        background-position: center;
    }

    .form_loginstyle h1{
        margin-bottom: 20px;
    }

    .form_loginstyle button{
        padding: 20px 15px;
        background-color: rgb(0, 0, 255);
        background-color: rgb(255, 179, 56);
        background-image: linear-gradient(to left, rgb(255, 196, 0), rgb(255, 165, 48));
        background-image: linear-gradient(to right, rgb(255, 176, 0), rgb(255, 210, 0));
        width: 300px;
        box-shadow: 0 20px 16px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.24);
        border-color: rgb(86, 111, 136);
        border-color: rgb(136, 123, 86);
        
    }

    .form_loginstyle button:hover{
        box-shadow: 0 15px 16px 0 rgba(0,0,0,0.35),0 6px 20px 0 rgba(0,0,0,0.24);
        background-color: rgb(10, 68, 255);
        transition: box-shadow 0.3s, background-color 0.3s;

    }
    /*!!!!!!!!!!!!!!!!--- See above ---!!!!!!!!!!!!!*/


/*====================================================================*/
/* --- Layout test landingpage --- */
/*====================================================================*/
    .landingbackground{
        background-image: url("/landinggradient_v2.svg");
        background-size: 100vw;
    }

    .landing{
        display: flex;
        flex-direction: column;
        
        background-image: url("/landingpage_v6.svg");
        background-size: 100vw;
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;
        justify-content: space-between;

        height: 100vh;
    }

    .landing h1{
        font-family: 'Permanent Marker', cursive;
        font-size: 5vw;
        margin-top: 6.5vh;
    }

    .landingmenu h1{
        margin-top: 0;
        color: rebeccapurple;
        margin-bottom: 10px;
    }

    .landingblock{
        display: none;
        flex-direction: column;
        width: 60vw;
        background-color: rgba(252, 1, 231, 0.87);
        height:60%;
        align-content: center;
        text-align: center;
        justify-content: center;
        border-radius: 12px;
    }

    .landing .buttonlink{
        display: block;
        padding: 0;
        font-family: 'Permanent Marker', cursive;
        color:black;
        background-color: transparent;
        font-size: 4.5vw;
        align-self: center;
    }

    .landing .buttonlink:hover{
        text-decoration: underline;
    }

    .landingmenu{
        margin-bottom: 6vh;
    }

/*===========================================================================
Scalability
===========================================================================*/

/*====================================================================*/
@media only screen and (max-width: 180vh){
    .landingmenu{
    margin-bottom: 9vh;
    }
    .landing h1{
        margin-top: 11vh;
    }

}

@media only screen and (max-height: 60vw){
    .landing h1{
        font-size: 8.5vh;
    }

    .landing .buttonlink{
        font-size: 8.5vh;
    }
}

@media only screen and (max-width: 1250px){
    
    .grid_a{
        display: grid;
        grid-template-columns: auto 12vw 12vw 12vw 12vw 12vw 12vw auto;
        grid-auto-rows: 350px;
        grid-column-gap: 24px;
        grid-row-gap: 20px;
    }

    #projectscontainer .container_projectblock:nth-child(2n+3) {
        background-color: grey;
        grid-column: 4/ span 2;
    }
    #projectscontainer .container_projectblock:nth-child(2n+4) {
        background-color: grey;
        grid-column: 6/ span 2;
    }

    .project_theme_links{
        grid-column: 2/ span 2;
        font-size: 25px;
    }

    .project_theme_links h1{
        font-size: 40px;
    }
}

@media only screen and (max-width: 1020px){
    .grid_a{
        grid-template-columns: auto 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw auto;
        grid-column-gap: 15px;
        grid-auto-rows: 400px;
    }

    #projectscontainer .container_projectblock:nth-child(n+3) {
        background-color: turquoise;
        grid-column: 7/ span 6;
    }

    .project_theme_links{
        grid-column: 3/ span 4;
        font-size: 25px;
    }

}

@media only screen and (max-width: 670px){
    
   /* .grid_a{
        display: grid;
        grid-template-columns: auto 40vw 40vw auto;
        grid-auto-rows: 500px;
        grid-column-gap: 24px;
        grid-row-gap: 20px;
    }
    */
    .grid_a{
        grid-auto-rows: 400px;       
    }

    #projectscontainer .container_projectblock:nth-child(n+3) {
        background-color: turquoise;
        grid-column: 4/ span 8;
    }

    .project_theme_links{
        grid-column: 3/ span 3;
        font-size: 25px;
    }

}

@media only screen and (max-width: 580px){
    
    .grid_a{
         grid-auto-rows: 400px;       
     }
     
     #projectscontainer .container_projectblock:nth-child(n+3) {
         background-color: turquoise;
         grid-column: 3/ span 9;
     }

     .project_theme_links{
        grid-column: 3/ span 3;
        font-size: 25px;
    }
 
 }




 /*Testcolors*/


 .jumbo{
    background-color: rgb(0, 254, 133);
    background-color: rgb(16, 165, 240);
    background-image: url(/background_image_nature.svg);
    background-position: 0% 0%;
    background-size: auto 500px;
    /* different shade*/
    background-color: rgb(191, 251, 255);

   
 }
.jumbo_info{
    background-color: rgb(255, 36, 76);
    background-color: rgb(103, 191, 230);
    margin-left: 46vw;
    width: 40vw;
}
.jumbo_info a{
    background-color: rgb(0, 254, 133);
    background-color: rgb(51,51,51);
    background-color: rgb(253, 170, 1);
    color: rgb(51,51,51);

}

.container_projectblock{
    border: 2px solid black;
    background-color: #f0f0f0;
    background-color: rgb(236, 252, 253);
}

.container_projectblock a{
    background-color:rgba(255, 36, 76, 0);
    text-decoration: none;
    color: rgba(0,0,0,0);

}

.container_projectblock:hover a{
    background-color:rgb(255, 36, 76);
    background-color: rgb(250, 85, 85);
    border-radius: 15px;
    color: black;
    transition-property: background-color, color;
    -webkit-transition-property: background-color, color;
    transition-duration: 0.4s, 0.3s;
    -webkit-transition-duration: 0.4s, 0.3s;
    transition-delay: 0s, 0.3s;
    -webkit-transition-delay: 0s, 0.3s;

}

#projectscontainer{
    background-color: rgb(16, 165, 240);
    background-color: rgb(0, 254, 133);
    background-color: rgb(0, 219, 151);
    
    

}
.title_projectblock{
    background-color: rgb(0, 254, 133);
    background-color: rgb(51,51,51);
    color: #e0e0e0;
}
.project_theme_links{
    background-color: rgba(16, 165, 240, 0.534);
    background-color: rgba(181, 181, 181, 0);
    margin-right: 40px;
    
    
}

.project_theme_links h1{
    color: rgb(12, 14, 13);
    color: rgb(191, 251, 255);
    color: rgb(51, 51, 51);
}

.description_projectblock p{
    display: none;
}

.description_projectblock{
    background-color: rgb(255, 36, 76);
    background-color: rgb(250, 85, 85);
    
}
.color_test{
    display: none;
    background-color: #d0d0d0;
    height: 100vh;
    width: 100vw;
}
.navbar{
    background-color: #0e0e0e;
}

/*popuptest*/

#projectform{
    position: fixed;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 80px 1fr 500px 1fr;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    font-family: "Short Stack"
}

#destroy_project{
    position: fixed;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 80px 1fr 300px 1fr;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#comment_form_general{
    position: fixed;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 80px 1fr 300px 1fr;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.popup_commentblock{
    grid-column: 2;
    grid-row: 3;
    height: 300px;
    border-radius: 15px;
    background-color: rgb(50, 143, 250);
    background-color: rgb(116, 154, 236);

}

#comment_form_form{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 10% 25% 25% 30% 10%;
}

#comment_form_label{
    display: grid;
    grid-column: 2/ span 2;
    grid-row: 2;
    text-align: center;
}

#comment_form_input{
    grid-column: 2/span 2;
    grid-row: 3;
    height: 50px;
}

#comment_form_button_left{
    display: grid;
    grid-column: 2;
    grid-row: 4;
    width: 100%;
    height: 50px;
}

#comment_form_button_right{
    display: grid;
    grid-column: 3;
    grid-row: 4;
    width: 100%;
    height: 50px;
}

.popup_deleteblock{
    grid-column: 2;
    grid-row: 3;
    height: 300px;
    border-radius: 15px;
    background-color: rgb(50, 143, 250);
    background-color: rgb(116, 154, 236);

}

.popup_deleteblock form{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 10% 50% 30% 10%;
}

.popup_deleteblock form h1{
    display: grid;
    grid-column: 2/ span 2;
    grid-row: 2;
    text-align: center;
}


.popup_deleteblock form #cancel_destroy_button{
    display: grid;
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    height: 50px;
}

.popup_deleteblock form #delete_button{
    display: grid;
    grid-column: 3;
    grid-row: 3;
    width: 100%;
    height: 50px;
}

.popup_background{
    /* this should be a background that is partialy transparent*/
grid-column: 1/ span 3;
grid-row: 2/ span 3;
background-color: rgba(155, 149, 149, 0.552);

}
.popup_formblock{
/* this is the real content that should act normaly */
grid-column: 2;
grid-row: 3;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(191, 251, 255);
border-radius: 23px;
}

.formheader{
    height: 40%;
    width: 100%;
    background-image: url(/spaceheader.svg);
    background-size: cover;
    z-index: 20;
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
}
.popup_formblock form{
    height: 55%;
    width: 90%;
    background-color: purple;
    background-color: rgb(116, 154, 236);
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    z-index: 20;
    display: grid;
    justify-items: stretch;
    grid-template-columns: 10% 39% 2% 39% 10%;
    grid-template-rows: 17% 30% 10% 11% 15% 17%;
}

.popup_formblock input{
    border-radius: 10px;
    height: 30px;
}

.popup_formblock label{
    font-size: 30px;
    font-weight: bold;
}

.hidden{
    display:none;
}

.revealed{
    display: grid;
}

.form_tab{
    grid-column: 2/ span 3;
    grid-row: 2;
    flex-direction: column;
    align-content: center;
    text-align: center;
}


.tab_progress{
    grid-column:2;
    grid-row:4;
}

.tab_progress p{
    margin-bottom: 5px;
    font-size: 18px;
}

#prev_button{
    grid-row: 5;
    grid-column: 2;
    background-color: rgb(55, 1, 148);
    color: white;
    border-color: rgb(152, 179, 236);
    border-radius: 10px;
    font-size: 20px;
    font-family: "Short Stack";
}
#next_button{
    grid-row: 5;
    grid-column: 4;
    background-color: rgb(55, 1, 148);
    color: white;
    border-color: rgb(152, 179, 236);
    border-radius: 10px;
    font-size: 20px;
    font-family: "Short Stack";
}

#constructionpage{
    background-image: url(/under_construction_background.svg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#constructionpage a{
    position: absolute;
    top: 60%;
    left: 10%;
    padding: 30px 50px;
    background-color: blue;
    text-decoration: none;
    color: white;

}

.hide{
    display: none;
}

.show{
    display: flex;
}